{% extends "common/base_layout.html" %}
{% block add_style %}
<link href="../../css/common/error.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block body_class %}
{%- if 400 <= code < 500 -%}
    page-404-full-page
{%- else -%}
    page-500-full-page
{%- endif -%}
{% endblock %}

{% block base_content %}
    <div class="row">
    {% if 400 <= code < 500 %}
        <div class="col-md-12 page-404">
    {% else %}
        <div class="col-md-12 page-500">
    {% endif %}
            <div class="number">
                 {{ code }}
            </div>
            <div class="details">
                <h3>{{ name }}</h3>
                <p>
                    {{ desc }}<br/>
                </p>
                <form>
                    <div class="input-group input-medium">
	                    <button class="btn blue" onclick="window.history.back();">Return Back</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
